<nav>
    <a href="home-e">Inicio</a>
    <a href="agregar-empresas">Agregar Empresa</a>
    <a href="agregar-vuelos">Agregar Vuelos</a>
  </nav>
<!--<p>agrega-vuelos works!</p>-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Ingreso de Datos de Vuelos</title>
    <!-- Agrega el enlace a Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5 my-5 border">
        <h1 class="mt-5">Ingresar Datos de Vuelo</h1>
        <form [formGroup]="vuelosForm" (ngSubmit)="createVuelo()">
            <div class="form-group">
                <label for="origen">Origen</label>
                <!--<input type="text" class="form-control" id="origen" placeholder="Ciudad de origen" formControlName="origen">-->
                <select class="form-control" id="origen" formControlName="origen">
                    <option value="" disabled>Selecciona el origen</option>
                    <option *ngFor="let origen of origenOptions" [value]="origen.nombre">{{origen.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="destino">Destino</label>
                <!--<input type="text" class= "form-control" id="destino" placeholder="Ciudad de destino" formControlName="destino">-->
                <select class="form-control" id="destino" formControlName="destino">
                    <option value="" disabled>Selecciona el destino</option>
                    <option *ngFor="let destino of origenOptions" [value]="destino.nombre">{{destino.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="fecha_vuelos">Fecha de Salida</label>
                <input type="date" class="form-control" id="fecha_vuelos" formControlName="fecha_vuelos" >
                <div *ngIf="vuelosForm!.get('fecha_vuelos')!.hasError('fechaInvalida')">
                    La fecha ingresada no puede ser anterior a la fecha actual.
                  </div>
            </div>
            <div class="form-group">
                <label for="hora_salida">Hora de Salida</label>
                <input type="time" class="form-control" id="hora_salida" formControlName="hora_salida">
            </div>
            <div class="form-group">
                <label for="asientos_dis">Capacidad de Pasajeros</label>
                <input type="number" class="form-control" id="asientos_dis" placeholder="Capacidad de pasajeros"formControlName="asientos_dis">
            </div>
            <div class="form-group">
                <label for="servicio">Tipo de Servicio</label>
                <!--<input type="text" class="form-control" id="servicio" placeholder="Servicio" formControlName="id_servicio">-->
                <select class="form-control" id="servicio" formControlName="id_servicio">
                    <option value="" disabled>Selecciona el tipo de servicio</option>
                    <option *ngFor="let servicio of servicioOptions" [value]="servicio.id_servicio">{{servicio.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo_avion">Tipo de Aeronave</label>
                <input type="text" class="form-control" id="tipo_avion" placeholder="Tipo de Aeronave" formControlName="tipo_avion">
            </div>
            <div class="form-group">
                <label for="costo">Costo Boleto</label>
                <input type="number" class="form-control" id="costo" placeholder="Costo de un boleto" step="0.01" formControlName="costo">
            </div>
            <button type="submit" [disabled]="vuelosForm.invalid" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    <br>
    <br>
    <div class="container mt-5">
        <h1>Lista de Vuelos</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Origen</th>
                    <th>Destino</th>
                    <th>Fecha de Salida</th>
                    <th>Hora de Salida</th>
                    <th>Capacidad de Pasajeros</th>
                    <th>Tipo de Aeronave</th>
                    <th>Costo Boleto</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Aquí se agregarán las filas con datos de vuelos -->
                <tr  *ngFor="let vuelo of vuelos">
                    <td>{{ vuelo.id_vuelos }}</td>
                    <td>{{ vuelo.origen }}</td>
                    <td>{{ vuelo.destino}}</td>
                    <td>{{ vuelo.fecha_vuelos | date:'dd/MM/yyyy'}} </td>
                    <td>{{ vuelo.hora_salida }}</td>
                    <td>{{vuelo.asientos_dis}}</td>
                    <td>{{vuelo.tipo_avion }}</td>
                    <td>{{vuelo.costo}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-outline-primary btn-sm" [routerLink]="['',vuelo.id_vuelos]" (click)="openForEdit(vuelo)">Editar</button>
                            <button class="btn btn-dark btn-sm" (click)="eliminarVuelo(vuelo.id_vuelos)">Borrar</button>
                        </div>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Agrega el enlace a Bootstrap JS y jQuery (opcional) si es necesario -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

