
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Sign up / Login Form</title>
  <link rel="stylesheet" href="./login.component.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form (ngSubmit)="registrar()">
				<label for="chk" aria-hidden="true">Sign up</label>
				<input type="text" name="username" placeholder="Usuario" required [(ngModel)]="username">
				<input type="password" name="password" placeholder="Contraseña" required [(ngModel)]="password">
				<button type="submit">Sign up</button>
				</form>
			</div>		  

			<div class="login">
				<form (ngSubmit)="login()">
				  <label for="chk" aria-hidden="true">Login</label>
				  <input type="text" id="username" placeholder="Usuario" name="username" [(ngModel)]="username" required>
				  <input type="password" id="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required>
				  <button type="submit">Iniciar Sesión</button>
				</form>
			  </div>
	</div>
</body>
</html>
<!-- partial -->
  
</body>
</html>
